.filter {
  font-size: x-large;
  padding-bottom: 0.5em;
  width: 90%;
  margin: auto;
}

.filterLinks {
  width: 100%;
  display: block;
  padding: 0.5em 1em;
  color: black;
  border-radius: 0.5em;
}

.filterLinks:hover {
  background-color:#E8E8E8;
}

.navigation {
  background-color:whitesmoke;
  min-height: calc(100vh - 88.67px);
}

.filterDiv {
  padding-top: 0.75em;
}

.subjectHeader {
  margin: 1em;
}

.add {
  padding: 0 0.25em;
  border-radius: 50%;
  float: right;
  color: black;
}

.add:hover {
  background-color: royalblue;
  color: white;
  cursor: pointer;
}

.addSubjectForm {
  box-shadow: 0 0 0.5em;
  border-radius: 0.5em;
  margin: auto;
  padding: 0;
  width: 90%;
  text-align: center;
}

.subjectInput {
  margin: 0.75em 0.5em 0.5em 0;
}

.cancelButton {
  margin-left: 0.75em;
  margin-bottom: 0.75em;
}

.submitButton {
  margin-bottom: 0.75em;
}

.subject {
  font-size: x-large;
  padding-bottom: 0.5em;
  margin: auto;
}

.subjectLinks {
  width: 90%;
  display: block;
  margin: 0 0.25em;
  padding: 0.5em 0.5em;
  color: black;
  border-radius: 0.5em;
}

.subjectLinks:hover {
  background-color: #E8E8E8;
}

.delete {
  margin-top: 0.5em;
}

.deleteSpan:hover {
  color: red;
  cursor: pointer;
}

@media only screen and (max-width: 64em) {
  .navigation {
    min-height: 0;
  }
}