.taskData {
  background-color:whitesmoke;
  min-height: calc(100vh - 88.67px);
}

.dateDiv,
.subjectDiv {
  font-size: x-large;
  font-weight: 500;
  margin: 1em;
}

.dateFormDiv,
.subjectFormDiv {
  margin: 1em;
}

.editDescription,
.editTitle,
.editDate,
.editSubject {
  float: right;
}

.editDescription:hover,
.editTitle:hover,
.editDate:hover,
.editSubject:hover {
  cursor: pointer;
  color: royalblue;
}

.updateDescriptionButton,
.updateTitleButton,
.updateDateButton,
.updateSubjButton {
  margin-left: 1em;
}

.updateDescriptionButton:hover,
.updateTitleButton:hover,
.updateDateButton:hover,
.updateSubjButton:hover {
  cursor: pointer;
}

.dueDate {
  margin: 1em;
  font-size: x-large;
}

.checkboxSpan {
  font-size: xx-large;
}

.titleText {
  text-decoration: line-through;
}

.title {
  font-size: xx-large;
  margin-top: 1em;
  padding-left: 0.5em;
}

.description {
  font-size: x-large;
}

.editTitle {
  font-size: xx-large;
  margin-right: 0.75em;
  /* margin-top: 0.5em; */
}

.editDescription {
  font-size: x-large;
  margin-right: 0.75em;
}

.descriptionDiv,
.titleDiv {
  margin: 0.5em;
}

.titleDiv {
  margin-bottom: 1.25em;
  padding-bottom: 1em;
  border-bottom: 1px solid;
}

.descriptionInput,
.titleInput {
  width: 95%;
  /* height: 5em; */
  margin: 1em;
}

.goBack {
  font-size: x-large;
  /* color: black; */
  margin: 0.5em;
  /* padding-top: 0.5em; */
}

.goBackSpan a {
  color: black;
}

.goBackIcon {
  padding: 0 0.25em;
  border-radius: 50%;
}

.goBackSpan:hover .goBackIcon {
  background-color: royalblue;
  color: white;
}

.goBackSpan:hover .goBackText {
  color: royalblue;
}

.hoverSpan:hover {
  cursor: pointer;
}